BGU.DRPL.SignificantOwnership/BGU.DRPL.SignificantOwnership.XSLT/Samples/Appx2OwnershipStructLP.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Appx2OwnershipStructLP" nillable="true" type="Appx2OwnershipStructLP" />
  <xs:complexType name="Appx2OwnershipStructLP">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="BankRef" type="BankInfo" />
      <xs:element minOccurs="0" maxOccurs="1" name="Acquiree" type="LegalPersonInfo" />
      <xs:element minOccurs="1" maxOccurs="1" name="IsSupervisoryCouncilPresent" type="xs:boolean" />
      <xs:element minOccurs="0" maxOccurs="1" name="SupervisoryCouncil" type="CouncilBodyInfo" />
      <xs:element minOccurs="0" maxOccurs="1" name="Executives" type="CouncilBodyInfo" />
      <xs:element minOccurs="1" maxOccurs="1" name="IsExecutivesPresent" type="xs:boolean" />
      <xs:element minOccurs="1" maxOccurs="1" name="TotalOwneshipPct" type="xs:decimal" />
      <xs:element minOccurs="0" maxOccurs="1" name="TotalOwneshipDetails" type="TotalOwnershipDetailsInfo" />
      <xs:element minOccurs="0" maxOccurs="1" name="BankExistingCommonImplicitOwners" type="ArrayOfCommonOwnershipInfo" />
      <xs:element minOccurs="0" maxOccurs="1" name="SharesAppliedFor" type="ArrayOfPurchasedVoteInfo" />
      <xs:element minOccurs="0" maxOccurs="1" name="SignificantSharesPhysicalPersons" type="ArrayOfPhysicalPersonShareInfo" />
      <xs:element minOccurs="0" maxOccurs="1" name="SignificantSharesLegalPersons" type="ArrayOfLegalPersonShareInfo" />
      <xs:element minOccurs="0" maxOccurs="1" name="AcquireeCommonImplicitOwners" type="ArrayOfCommonOwnershipInfo" />
      <xs:element minOccurs="0" maxOccurs="1" name="Signatory" type="SignatoryInfo" />
      <xs:element minOccurs="0" maxOccurs="1" name="ContactPerson" type="PhysicalPersonInfo" />
      <xs:element minOccurs="0" maxOccurs="1" name="ContactPhone" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="BankInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="HeadMFO" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="RegistryNr" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="Code" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="Name" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="LegalPersonInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="TaxCodeOrHandelsRegNr" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="Name" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="Address" type="LocationInfo" />
      <xs:element minOccurs="0" maxOccurs="1" name="ResidenceCountry" type="CountryInfo" />
      <xs:element minOccurs="0" maxOccurs="1" name="Registrar" type="RegistrarAuthority" />
      <xs:element minOccurs="0" maxOccurs="1" name="RepresentedBy" type="PhysicalPersonInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="LocationInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="Country" type="CountryInfo" />
      <xs:element minOccurs="0" maxOccurs="1" name="Region" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="ZipCode" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="City" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="Street" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="HouseNr" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="ApptOfficeNr" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CountryInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="CountryISO2Code" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="CountryISO3Code" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="CountryISONr" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="CountryNameEng" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="CountryNameUkr" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="RegistrarAuthority">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="JurisdictionCountry" type="CountryInfo" />
      <xs:element minOccurs="0" maxOccurs="1" name="Address" type="LocationInfo" />
      <xs:element minOccurs="0" maxOccurs="1" name="RegistrarCode" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="RegistrarName" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="EntitiesHandled" type="EntityType" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="EntityType">
    <xs:list>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="None" />
          <xs:enumeration value="Physical" />
          <xs:enumeration value="Legal" />
        </xs:restriction>
      </xs:simpleType>
    </xs:list>
  </xs:simpleType>
  <xs:complexType name="PhysicalPersonInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="SurnameUkr" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="NameUkr" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="MiddleNameUkr" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="FullNameUkr" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="Surname" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="Name" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="MiddleName" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="FullName" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="Sex" type="SexType" />
      <xs:element minOccurs="1" maxOccurs="1" name="BirthDate" type="xs:dateTime" />
      <xs:element minOccurs="0" maxOccurs="1" name="PassportID" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="PassIssuedDate" type="xs:dateTime" />
      <xs:element minOccurs="0" maxOccurs="1" name="PassIssueAuthority" type="RegistrarAuthority" />
      <xs:element minOccurs="0" maxOccurs="1" name="TaxOrSocSecID" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="Address" type="LocationInfo" />
      <xs:element minOccurs="0" maxOccurs="1" name="CitizenshipCountry" type="CountryInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="SexType">
    <xs:list>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="None" />
          <xs:enumeration value="Male" />
          <xs:enumeration value="Female" />
        </xs:restriction>
      </xs:simpleType>
    </xs:list>
  </xs:simpleType>
  <xs:complexType name="CouncilBodyInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="Members" type="ArrayOfCouncilMemberInfo" />
      <xs:element minOccurs="1" maxOccurs="1" name="HeadMemberIndex" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ArrayOfCouncilMemberInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CouncilMemberInfo" nillable="true" type="CouncilMemberInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CouncilMemberInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="Member" type="GenericPersonInfo" />
      <xs:element minOccurs="0" maxOccurs="1" name="PositionName" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GenericPersonInfo">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="PersonType" type="EntityType" />
      <xs:element minOccurs="0" maxOccurs="1" name="PhysicalPerson" type="PhysicalPersonInfo" />
      <xs:element minOccurs="0" maxOccurs="1" name="LegalPerson" type="LegalPersonInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TotalOwnershipDetailsInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="DirectOwnership" type="OwnershipSummaryInfo" />
      <xs:element minOccurs="0" maxOccurs="1" name="ImplicitOwnership" type="OwnershipSummaryInfo" />
      <xs:element minOccurs="0" maxOccurs="1" name="AcquiredVotes" type="OwnershipVotesInfo" />
      <xs:element minOccurs="1" maxOccurs="1" name="TotalCapitalSharePct" type="xs:decimal" />
      <xs:element minOccurs="1" maxOccurs="1" name="TotalVotes" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="OwnershipSummaryInfo">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="Pct" type="xs:decimal" />
      <xs:element minOccurs="1" maxOccurs="1" name="Amount" type="xs:decimal" />
      <xs:element minOccurs="1" maxOccurs="1" name="Votes" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="OwnershipVotesInfo">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="Pct" type="xs:decimal" />
      <xs:element minOccurs="1" maxOccurs="1" name="Votes" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ArrayOfCommonOwnershipInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CommonOwnershipInfo" nillable="true" type="CommonOwnershipInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CommonOwnershipInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="Partners" type="ArrayOfGenericPersonInfo" />
      <xs:element minOccurs="1" maxOccurs="1" name="OwnershipType" type="CommonOwnershipType" />
      <xs:element minOccurs="0" maxOccurs="1" name="OwnershipTestimony" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="OwnershipPct" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ArrayOfGenericPersonInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="GenericPersonInfo" nillable="true" type="GenericPersonInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="CommonOwnershipType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="None" />
      <xs:enumeration value="Direct" />
      <xs:enumeration value="Implicit" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="ArrayOfPurchasedVoteInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PurchasedVoteInfo" nillable="true" type="PurchasedVoteInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PurchasedVoteInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="Transferror" type="GenericPersonInfo" />
      <xs:element minOccurs="0" maxOccurs="1" name="PurchaseVotes" type="OwnershipVotesInfo" />
      <xs:element minOccurs="0" maxOccurs="1" name="VotesTransferPath" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ArrayOfPhysicalPersonShareInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PhysicalPersonShareInfo" nillable="true" type="PhysicalPersonShareInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PhysicalPersonShareInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="Person" type="PhysicalPersonInfo" />
      <xs:element minOccurs="1" maxOccurs="1" name="SharePct" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ArrayOfLegalPersonShareInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="LegalPersonShareInfo" nillable="true" type="LegalPersonShareInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="LegalPersonShareInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="Person" type="LegalPersonInfo" />
      <xs:element minOccurs="1" maxOccurs="1" name="SharePct" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SignatoryInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="SignatoryPosition" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="SurnameInitials" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="DateSigned" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>